/*
************************************************************************************************************************
************************************************ General Section  ******************************************************
************************************************************************************************************************
*/

body
{
    background-image:url('../images/background.png');
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

/*
************************************************************************************************************************
************************************************ Top Most Section ******************************************************
************************************************************************************************************************
*/

.top-most-bar
{

}

.top-most-bar .dropdown.menu
 {
	background: #1779BA;
	margin:0 auto;
	padding: 0 170px;
}


.top-most-bar .dropdown.menu p
{
padding: 0.7rem 1rem;
color: #000;
margin-bottom: 0;
font-size: 1rem;
line-height:30px;
}


.top-most-bar .dropdown.menu a
{
	padding: 0.7rem 1rem;
	color: #000;
	margin-bottom: 0px;
	font-size: 1rem;
	line-height:30px;
}

.top-most-bar .dropdown.menu a:hover
{
    color: rgba(255,255,255,.5);
}
/*
************************************************************************************************************************
************************************************ Navigation Section ****************************************************
************************************************************************************************************************
*/
.navigation-section
{

}
.navigation-section .top-bar,.navigation-section .top-bar ul {
	background-color: #232F3F;
}

/*
************************************************************************************************************************
************************************************ Left Side Bar *********************************************************
************************************************************************************************************************
*/

.left-sidebar
{
    background: #D9D9D5;
    text-align: center;
    border-right: 2px solid white;
    border-radius:1px;
}

.left-sidebar a
{
    display: block;
    border: .5px dotted #E9E9E9;
}

.left-sidebar a:hover
{
    background:green;
    color:black;
}

/*
************************************************************************************************************************
************************************************ Right Side Bar ********************************************************
************************************************************************************************************************
*/

.right-sidebar
{
    background: #D9D9D5;
    border-left: 2px solid white;
}

/*
************************************************************************************************************************
************************************************ Main Section **********************************************************
************************************************************************************************************************
*/
.middle-section
{
    background: #E9E9E9;
    text-align: center;
}
.middle-section h3
{
    color: green;
}
.middle-section ul
{
    list-style:none;
}
.middle-section .image {
	width: 131px;
	height: 150px;
	float: left;
	text-align: center;
	padding: 2px;
	border: 1px dotted black;
	margin: 3px 1px;
	font-size: .7rem;
}

.middle-section .image:hover
{
    opacity: .7;
    border: 1px dotted blue;
}

.middle-section .image img
{
	width: 120px;
	height: 120px;
	border: 1px solid black;
	margin-bottom: 5px;
}


/*
************************************************************************************************************************
************************************************ Footer Section ********************************************************
************************************************************************************************************************
*/

.footer-section
{
    background: cyan;
}
